/* :root -> referincia a raiz do documento */
:root{
    /* aqui podemos declarar variáveis */
    --title-color: #322153;
    --primary-color: #34cb79;
}
*/*referencia a todos os seletores*/ {
    margin: 0;
    padding:0;
    box-shadow: border-box;
}
}
html{
    font-family: Roboto, sans-serif; 
    /* atributo: valor */
}

body{
    background: #f0f0f5;
    -webkit-font-smoothing:antialiased;/*melhora a visualização da fonte*/
}

a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    color: var(--title-color);
    font-family: Ubuntu, sans-serif;
}


/* BOX MODEL */
/* Modelo de Caixa */
/*
    Toda caixa tem:
    largura, altura, espaçamentos, preenchimentos, 
    bordas, cor, fundo, alinhamentos, posicionamento,
    maneira que é vista pelo HTML (display) 
*/
/* alteração por fora do elementyo */
/* 
    Pode ser dividiro em 2 modelos de exibição(display) 
    block -> Ocupa a linha inteira
    inline -> vai ocupar somente o tamanho do elemento
*/
/* Alteração por dentro do elemento */
/* 
    Tem diversas opções, podemos testar na ferramenta do desenvolvedor, 
    ao digitar display: aparece várias opções
*//*textos*/
/*
- [ ]  tamanho
- [ ]  tipo
- [ ]  espaçamentos
- [ ]  alinhamentos
*/
/* Boa prática - colocar os itens na ordem do HTML */


