@media (max-width: 900px){
    #page-home{
        background-position-x: 70vw;
    }
    #page-home .content {
        align-items: center;
        text-align: center;
    }
    #page-home header a {
        position: absolute;/*coloca uma camada acima*/
        bottom: -118px;
        left: 50%;
        transform: translateX(-50%);/* move o elemento no eixo X*/
        margin-bottom: 30px;
    }
    #page-home main{
        align-items: center;
    }

    #page-search-results .cards,
    #page-create-point .items-grid {
        grid-template-columns: 1fr;
    }

    #page-search-results .cards img {
        height: 250px;
    }

    #page-create-point .field-group {
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }

    #page-create-point form {
        padding-left: 32px;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    #page-create-point .items-grid {
        margin-left: 38px;
    }

    #page-create-point respon {
        width: 100%;
        justify-content: center;
    }

}

@media (min-width: 1700px){
    #page-home{
        background-position-x: 40vw;
    }
}

@media (max-height: 760px){
    #page-home{
        background-position-y: 200px;
    }

}

/*@media (max-width: 680px) {
    #page-create-point .field-group {
        flex-direction: column;
        justify-content: space-between;
    }
    
    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }

    #page-create-point .items-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }

    #page-create-point form {
        align-items: center;
    }
}
*/

